.ListContainer {
  max-height: 87vh;
  min-height: 84vh;
  overflow: auto;
}

@media only screen and (max-width: 1024px) {
  .Container {
    display: flex;
    flex-direction: row;
    gap:10px
  }
  .ListContainer {
    width: calc(100 - 170px);
    max-height: 76px;
    height: 76px;
    min-height: 76px;
  }
}
@media only screen and  (max-width:430px){
    .Container {
        display: none;
      }
}