.ListContainer {
  flex:2;
  overflow-y: scroll;
  overflow-x: scroll;
}

@media only screen and (max-width: 1024px) {
  .Container {
    display: flex;
    flex-direction: row;
    gap:10px
  }
  .ListContainer {
    width: calc(100 - 170px);
    max-height: 76px;
    height: 76px;
    min-height: 76px;
  }
}
.ListContainer::-webkit-scrollbar {
  width: 4px; /* Adjust the width of the scrollbar */
  height: 1px;
  background-color: #384f76;
}
@media only screen and  (max-width:430px){
    .Container {
        display: none;
      }
      .ListContainer{
        display: none;
      }
}