.IconSectionSidebar {
    margin-left: 22.5px;
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-right: 22.5px;
   
}
.LabelSectionSidebar {
    margin-left: 22.5px;
    margin-top: 22.5px;
    margin-bottom: 22.5px;
    margin-right: 22.5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
}