.CollapseButton{
        height: 75px;
    background-color: #101928;
    display: flex;
    align-items: center;
   
    
  
  }
  .ChevronsLeft{
display: flex;
align-items: center;
justify-content: center;
min-width: 75px;
  width: 75px;
  display: flex;
  cursor: pointer;
  }
  .CollapseText{
  margin-left: 41px;
  margin-top: 21px;
  margin-bottom: 21px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  width: 225px;
  transition: color .9s ease-in-out;
  }
  .Action{
    background-color: #AC1C36;
   }