@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap');
html{
  transition: all .3s ease-in-out;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}

body{
  padding: 0;
  margin: 0;
  position: inherit;
  height: 100%;
  overflow: hidden;
  transition: all .3s ease-in;
  font-family: 'Poppins', sans-serif;

}

body > * {
  overflow-x: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Poppins', sans-serif;
}

.pageLayout{
  display: flex;
  margin-top: 0px;
  color: white;
  justify-content: center;
  align-items: center;
  
 
}

/*temporary for showing selected item in side panel*/
.selected{
  background: black;
  color: white;
}

input,
textarea,
select {
  font-family: 'Poppins', sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/

.background {
  position: absolute;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background > * {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.15;
}

/* Admin panel global styles */

.adminHeading {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.15;
  color: #3d6b98;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 40px rgba(93, 143, 193, 0.2);
  padding: 1.5rem;
  margin: 3rem auto;
}

.adminHeading br {
  display: none;
}

.adminSection {
  margin: 0;
}

.adminList {
  margin: 3.65rem 15%;
  background-color: #ffffffff;
  border-radius: 1rem;
  /* padding: 0.5rem 1rem; */
  border: 0.25rem solid #a1bedb;
  max-height: 40rem;
  overflow-y: auto;
  box-shadow: 0 4px 40px rgba(225, 221, 212, 0.25);
}

.adminListBig {
  margin: 3.65rem 10%;
  max-height: 45rem;
}

.adminCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.6rem;
  margin: 0.75rem 0;
  padding: 1.5rem 1.25rem;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.25);
}

.adminInput {
  box-sizing: border-box;
  padding: 0.75rem 1.5rem;
  margin: 0.65rem 0;
  border-radius: 20rem;
  width: 100%;
  font-size: 1rem;
  border: 2px solid rgba(23, 36, 58, 0.25);
  color: rgba(23, 36, 58);
  caret-color: rgba(23, 36, 58);
  transition: 0.3s;
}

.adminInput::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(23, 36, 58, 0.25);
}

.adminInput:active,
.adminInput:focus,
.adminInput:focus-visible {
  outline: none;
  border-color: #101928;
  box-shadow: 0 4px 20px rgba(16, 25, 41, 0.1);
}

.adminButton {
  background: #101928;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.75rem 0;
  margin: 0.65rem 0;
  border: none;
  border-radius: 20rem;
  width: 100%;
}

.adminButton:hover {
  background-color: #17243A;
}

.adminButton:active,
.adminButton:focus {
  background-color: #1f3253;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle span {
  margin-right: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #101928;
}

.react-switch {
  box-shadow: 0 1px 15px rgba(225, 221, 212, 0.25);
  font-weight: 500;
}

.react-switch-handle {
  top: 0.315rem !important;
  left: 0.25rem !important;
  height: 2rem !important;
  width: 2rem !important;
}

.icons {
  display: flex;
  margin-top: -0.2rem;
}

.icons > *:not(p) {
  margin: 0 1px;
  cursor: pointer;
  padding: 0.4rem;
}

.editIcon:hover,
.trashIcon:hover {
  border-radius: 25%;
  transition: background-color 0.3s;
}

.editIcon:hover {
  background-color: rgba(79, 195, 177, 0.25);
}

.editIcon:active {
  background-color: rgba(79, 195, 177, 0.5);
}

.trashIcon:hover {
  background-color: rgba(255, 111, 102, 0.25);
}

.trashIcon:active {
  background-color: rgba(255, 111, 102, 0.5);
}

.noRecords {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: #101928;
  text-align: center;
  margin: 3rem auto;
}

button:disabled,
.disabled {
  pointer-events: none;
}

button:disabled {
  opacity: 0.85;
  transition: opacity 0.3s;
}

.sidebar{
  color: #FFFFFF;
  background-color: #01121C;
  width: 300px;
  max-height: 100vh;
  overflow: hidden;
  transition:width .3s ease-in-out
}


.IconSectionSidebarDropdown{
margin-left:18.5px;
margin-top :22.5px;
margin-bottom :22.5px;
margin-right: 22.5px;
}
.IconSectionSidebar{
  margin-left:22.5px;
  margin-top :22.5px;
  margin-bottom :22.5px;
  margin-right: 22.5px;
  }
.LabelSectionSidebar{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  width:175px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.DropdownSidebar{
  display: flex;
  align-items: center;
  transition: .3s ease-in;
  background-color: #01121C;
  cursor: pointer;
}
.DropDownSideBarArrow
{
  display: flex;
  align-items: center;

}
.DropdownItems{
  
 position: relative;
  margin-top: 0px;
  background-color: #17243A;
  border-radius: 12px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all .3s ease-in-out;
}
.displayOFF{

  display: none;
  
  }
.displayON{
display: block;
  transform: scaleY(1);
 }


 .mainContainer{
  display: flex;
  


 }

 .ListContainer{
  max-height: 100vh;
  overflow: auto;
  
 }
 .CollapseButtonEnd{
  height: 75px;
  background-color: #101928;
  position: absolute;
  bottom: 0;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -160px 45px rgba(3, 3, 3, 0.01), 0px -102px 41px rgba(3, 3, 3, 0.08), 0px -57px 34px rgba(3, 3, 3, 0.28), 0px -26px 26px rgba(3, 3, 3, 0.47), 0px -6px 14px rgba(3, 3, 3, 0.55), 0px 0px 0px rgba(3, 3, 3, 0.56);
transition: all .3s ease-in-out;


 }
 .EndButton{
  height: 150px;
 width: 100%;
 }
 .Normal{

  background-color: #101928;;
 }

 .MarginIcon{

  padding-left: 26.5px;
  padding-bottom: 26.5px;
  padding-top: 26.5px;
 }

 ::-webkit-scrollbar {
  width: 1.1rem;
}


::-webkit-scrollbar-thumb {
  border: 0.44rem solid transparent;
  background-clip: padding-box;
  border-radius: 2rem;
  background-color: #384f76;;

}


.MainContainer{
  min-width:100%;
  height: 100vh;

  z-index: -100;
 
}

.HeadingContainer{
display: flex;
flex-direction: column;
width: 100%;

background: #FFFFFF;
border-bottom: 1px solid rgb(155, 155, 155);

}
.Heading{

width: 100%;
height: 40px;
color: #061537;
font-family: 'Poppins';
display: flex;
margin-top: 60px;
justify-content: center;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 40px;
}

.SiderbarFlex{
  
}
.LeftOverFlex{
  width: 100%;
  height: 100%;
  
}
.TabsHeading{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 80%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #632222;
  border-radius: 18px;
  background: #FFFFFF;


  border-right: #ffffff;
}
.IndividualTab{
background: #17243A;
border-radius: 11px;
padding: 14px 25px;
margin: 5px 10px ;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
/* identical to box height */
color: #ffffff;
display: flex;
align-items: center;
text-align: center;
border: 2px solid rgba(23, 36, 58, 0.25);
}


.CollapseButtonTop{

top: 0;
left: 0;

}
.HeightChange{

height: 0px;
}
.HeightGrow{
 
  max-height: 10000px;

}
.SignInContainer{
  width: 100%;
}