@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap");
html {
  transition: all 0.3s ease-in-out;
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  position: inherit;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in;
  font-family: "Poppins", sans-serif;

}

body > * {
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
}

/*temporary for showing selected item in side panel*/
.selected {
  background: black;
  color: white;
}

input,
textarea,
select {
  font-family: "Poppins", sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*  }*/
/*  body {*/
/*    color: white;*/
/*    background: black;*/
/*  }*/
/*}*/

/* Admin panel global styles */

.adminHeading {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.15;
  color: #3d6b98;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 4px 40px rgba(93, 143, 193, 0.2);
  padding: 1.5rem;
  margin: 3rem auto;
}

.adminHeading br {
  display: none;
}

.adminSection {
  margin: 0;
}

.adminList {
  margin: 3.65rem 15%;
  background-color: #ffffffff;
  border-radius: 1rem;
  /* padding: 0.5rem 1rem; */
  border: 0.25rem solid #a1bedb;
  max-height: 40rem;
  overflow-y: auto;
  box-shadow: 0 4px 40px rgba(225, 221, 212, 0.25);
}

.adminListBig {
  margin: 3.65rem 10%;
  max-height: 45rem;
}

.adminCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.6rem;
  margin: 0.75rem 0;
  padding: 1.5rem 1.25rem;
  box-shadow: 0 4px 20px rgba(93, 143, 193, 0.25);
}

.adminInput {
  box-sizing: border-box;
  padding: 0.75rem 1.5rem;
  margin: 0.65rem 0;
  border-radius: 20rem;
  width: 100%;
  font-size: 1rem;
  border: 2px solid rgba(23, 36, 58, 0.25);
  color: rgba(23, 36, 58);
  caret-color: rgba(23, 36, 58);
  transition: 0.3s;
}

.adminInput::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(23, 36, 58, 0.25);
}

.adminInput:active,
.adminInput:focus,
.adminInput:focus-visible {
  outline: none;
  border-color: #101928;
  box-shadow: 0 4px 20px rgba(16, 25, 41, 0.1);
}

.adminButton {
  background: #101928;
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 0.75rem 0;
  margin: 0.65rem 0;
  border: none;
  border-radius: 20rem;
  width: 100%;
}

.adminButton:hover {
  background-color: #17243a;
}

.adminButton:active,
.adminButton:focus {
  background-color: #1f3253;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 400ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle span {
  margin-right: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  color: #101928;
}

.react-switch {
  box-shadow: 0 1px 15px rgba(225, 221, 212, 0.25);
  font-weight: 500;
}

.react-switch-handle {
  top: 0.315rem !important;
  left: 0.25rem !important;
  height: 2rem !important;
  width: 2rem !important;
}

.icons {
  display: flex;
  margin-top: -0.2rem;
}

.icons > *:not(p) {
  margin: 0 1px;
  cursor: pointer;
  padding: 0.4rem;
}

.editIcon:hover,
.trashIcon:hover {
  border-radius: 25%;
  transition: background-color 0.3s;
}

.editIcon:hover {
  background-color: rgba(79, 195, 177, 0.25);
}

.editIcon:active {
  background-color: rgba(79, 195, 177, 0.5);
}

.trashIcon:hover {
  background-color: rgba(255, 111, 102, 0.25);
}

.trashIcon:active {
  background-color: rgba(255, 111, 102, 0.5);
}

.noRecords {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.15;
  color: #101928;
  text-align: center;
  margin: 3rem auto;
}

button:disabled,
.disabled {
  pointer-events: none;
}

button:disabled {
  opacity: 0.85;
  transition: opacity 0.3s;
}

.IconSectionSidebarDropdown {
  margin-left: 18.5px;
  margin-top: 22.5px;
  margin-bottom: 22.5px;
  margin-right: 22.5px;
}
.IconSectionSidebar {
  margin-left: 22.5px;
  margin-top: 22.5px;
  margin-bottom: 22.5px;
  margin-right: 22.5px;
}
.LabelSectionSidebar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.DropdownSidebar {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in;
  background-color: #01121c;
  cursor: pointer;
}
.DropDownSideBarArrow {
  display: flex;
  align-items: center;
}
.DropdownItems {
  position: relative;
  margin-top: 0px;
  background-color: #17243a;
  border-radius: 12px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}
.displayOFF {
  display: none;
}
.displayON {
  display: block;
  transform: scaleY(1);
}

.mainContainer {
  display: flex;
}

.ListContainer {
  max-height: 100vh;
  overflow: auto;
}

.Normal {
  background-color: #101928;
}

.MarginIcon {
  padding-left: 26.5px;
  padding-bottom: 26.5px;
  padding-top: 26.5px;
}

::-webkit-scrollbar {
  width: 1.1rem;
}

::-webkit-scrollbar-thumb {
  border: 0.44rem solid transparent;
  background-clip: padding-box;
  border-radius: 2rem;
  background-color: #384f76;
}

.HeightChange {
  height: 0px;
}
.HeightGrow {
  max-height: 10000px;
}
.mantine-Modal-root{
  z-index: 2000000;
}
.mantine-Modal-header{
 background: #C3EAE5;
  width: 100%;
  border-radius: 18px 18px 0px 0px;
  z-index: 2000000;
}
.mantine-Modal-modal	{
  padding: 0;
  width: 100%;
  max-width: 1122px;
  margin-left: 250px;
  margin-right:250px;
  margin-top: 50.5px;
  z-index: 2000000;
}
.mantine-Modal-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
/* identical to box height */
color: #061537;
margin-left: 15px;
margin-top: 15px;
margin-bottom: 15px;
}
.mantine-Modal-close	{
color: #061537;
margin-right: 15px;
margin-top: 7.5px;
margin-bottom: 15px;

}
.mantine-Modal-close:hover{
  background-color: #01121c;
  color: #ffffff;
}
.mantine-TextInput-wrapper{
  background: #FFFFFF;
border: 3px solid #C5D4EF;
border-radius: 8px;
width: 100%;
}
.mantine-TextInput-input{
  border: 0px solid #C5D4EF; 
}
.mantine-Textarea-wrapper{
  background: #FFFFFF;
border: .2rem solid #C5EEE9;
border-radius: 8px;
width: 100%;
}
.mantine-Textarea-input{
  border: 0px solid #C5EEE9; 
}

.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-out;
  transition-delay: 3s;
}