.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer{
  box-shadow: 175px 138px 134px rgba(23, 36, 58, 0.02), 78px 61px 99px rgba(23, 36, 58, 0.03), 19px 15px 55px rgba(23, 36, 58, 0.03), 0px 0px 0px rgba(23, 36, 58, 0.03);
  background: #FFFFFF;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 100px 75px 75px;
  gap: 75px;
  border-radius: 70px;
}

.signIn {
  text-align: center;
  width: 100%;
  max-width: 38rem;
  border-radius: 1.5rem;
  border: 2px solid rgba(23, 36, 58, 0.25);
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signIn h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  color: #101928;
  margin: -4rem 0 0.5rem 0;
  background: white;
  width: fit-content;
  padding: 0 25px;
}

.signIn form {
  padding: 1rem 4rem 5rem;
}

.password {
  position: relative;
}

.eye {
  cursor: pointer;
  width: 1.5rem;
  position: absolute;
  top: 32.5%;
  right: 1.25rem;
}


@media (max-width: 580px) {
  .signIn {
    border-radius: 0;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .signIn form {
    padding-right: 1.75rem;
    padding-left: 1.75rem;
  }

  .eye {
    width: 1rem;
  }
}
